body {
  font-family: 'Fredoka One', cursive;
  background-color: #333;
  color: #EEE;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;
}

h1.title {
  font-weight: normal;
  font-size: 50px;
  text-shadow: 0.1em 0.1em 0 #000;
  text-align: center;
  margin: 0;
}

.button {
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  border: 2px solid #b10000;
  margin-top: 0px;
  margin-bottom: 2px;
  background-color: #960000;
  box-shadow: 0 2px 0px 5px #5a0101;
}

.button:hover {
  background-color: #b10000;
}

.button:active {
  margin-top: 2px;
  background-color: #b10000;
  box-shadow: 0 0 0px 5px #5a0101;
  margin-bottom: 0
}